[Desktop Entry]
Version=1.0
Name=Desktop Keyboard
Comment= Screen Keyboard
Exec=Keybrd
Icon=/usr/share/isan/keyboard.png
Terminal=false
Type=Application
Categories=Settings;System;
StartupNotify=true
